<h2><%=currentUser.firstname%>'s November 2018 Ballot</h2>



<div class='row'>
	<div class='col s6'>
	</div>
	<div class='col s9'>
		<h3> Washington State Ballot Measures </h3>
		<div class="card"><h4><a href="#">Initiative 940</a></h4> </div>
		<div class="card"><h4><a href="#">Initiative 1631 </a></h4></div>
		<div class="card"><h4><a href="#">Initiative 1634</a></h4> </div>
		<div class="card"><h4><a href="#">Initiative 1639</a></h4> </div>
		<div class="card"><h4><a href="#">Advisory Vote 19</a></h4> </div>

	</div>