  <nav>
    <div class="nav-wrapper blue darken-4" id="top-nav">
      <a href="/" class="brand-logo left"><img src="Untitled-1.png" height="60"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if(currentUser) {%>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/logout">Log out</a></li>
        <% } else { %>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Sign up</a></li>
        <%}%>
      </ul>
    </div>
  </nav>

