<h2>Advisory Vote 19: Non-Binding Question on Oil Spill Tax Repeal</h2>

<p> A 2007 initiative requires every bill that increases tax revenue to appear on the ballot for a non-binding advisory vote</p>

<p>Advisory Vote 19 concerns whether voters support a repeal of Senate Bill 6269, which applied a tax on crude oil and petroleum products received through a pipeline.
</p>

<p> <span id="pro">Maintain</span> SUPPORTS the tax on crude oil and petroleum products.</p>

<p> <span id="con">Repeal</span> OPPOSES the tax on crude oil and petroleum products.</p>

<hr />
<h4> Learn About the Issue</h4>
<a href="https://www.seattletimes.com/seattle-news/politics/you-get-to-vote-on-the-washington-legislatures-tax-hikes-but-it-wont-change-law/">You get to vote on the Washington Legislature’s tax hikes — but it won’t change law</a>  |  <span class="small">The Seattle Times</span> <br>
<a href="#">Oil Spill Bill Signed by Governor Inslee</a>  |  <span class="small">The Seattle Times</span> <br>


<hr />

<form id="add-19" action='/profile/measure-av19' method="PUT">
  <div class='row'>
    <p>
          <label>
            <input name="group1" type="radio" value="yes" />
            <span>Vote YES</span>
          </label>
      </p>
      <p>
          <label>
            <input name="group1" type="radio" value="no" />
            <span>Vote NO</span>
          </label>
      </p>
      <button class="btn waves-effect waves-light" type="submit" name="action">Next
    <i class="material-icons right"></i>
  </button>
  </div>
</form>