<h2>Initiative 1634: Prohibit Local Taxes on Groceries Measure </h2>

<p>Initiative 1634 would prohibit local government entities from imposing any new tax, fee, or other assessment on grocery items. It would not prevent the state from imposing taxes on groceries. Grocery items are defined in this measure as "any raw or processed food or beverage, or any ingredient thereof, intended for human consumption." Groceries include but are not limited to meat, produce, grains, dairy, seasonings, and condiments. Alcoholic beverages, tobacco, and marijuana products do not qualify as grocery items and would not be protected from new taxes by this measure. The measure would prohibit any existing taxes, fees, or assessments from being increased after January 15, 2018.</p>

<p> <span id="pro">Yes</span> SUPPORTS prohibiting local governments from enacting taxes on groceries.</p>

<p> <span id="con">No</span> OPPOSES prohibiting local governments from enacting taxes on groceries.</p>

<hr />
<h4> Learn About the Issue</h4>
<a href="#">Are Grocery Taxes are an Unfair Burden on the Working Poor?</a>  |  <span class="small">The Seattle Times</span> <br>
<a href="#">I-1634 Explained: An Initiative Response to Seattle's Soda Tax</a>  |  <span class="small">The Stranger</span> <br>
<a href="#"> Who Supports I-1634? </a>  |  <span class="small">The Spokesman-Review</span> <br>
<a href="#"> The Grocery Tax's Possible Effects on Business and Consumers </a>  |  <span class="small">The Spokesman-Review</span> <br>

<hr />

  <form action='#' method="POST">
  <div class='row'>
    <p>
          <label>
            <input name="group1" type="radio" />
            <span>Vote YES</span>
          </label>
      </p>
      <p>
          <label>
            <input name="group1" type="radio" />
            <span>Vote NO</span>
          </label>
      </p>
      <button class="btn waves-effect waves-light" type="submit" name="action">Next
    <i class="material-icons right"></i>
  </button>
  </div>
</form>