<h2>Initiative 940: Police Training and Criminal Liability in Cases of Deadly Force</h2>

<p>Initiative 940 would create a good faith test to determine when the use of deadly force by police is justifiable, require police to receive de-escalation and mental health training, and provide that police have a duty to render first aid. It would remove the requirement that prosecutors show that a law enforcement officer acted with malice to be convicted</p>

<p> <span id="pro">Yes</span> SUPPORTS the initiative to create a test to determine justifiable use of deadly force by police and require officers to undergo specific training.</p>

<p> <span id="con">No</span> OPPOSES the initiative to create a test to determine justifiable use of deadly force by police and require officers to undergo specific training.</p>

<hr />
<h4> Learn About the Issue</h4>
<a href="#">The facts about I-940</a><span class="small">The Spokesman-Review</span> <br>
<a href="#">What Would Initiative 940 Do?</a><span class="small">The Seattle P-I</span> <br>
<a href="#">Police Unions Oppose I-940</a><span class="small">The Seattle Times</span> <br>
<a href="#">Activists Make Case for I-940</a><span class="small">The Seattle Times</span> <br>
<hr />

  <form id="add-vote" action='/profile/addvote' method="PUT">
  <div class='row'>
    <p>
          <label>
            <input name="group1" type="radio" />
            <span>Vote YES</span>
          </label>
      </p>
      <p>
          <label>
            <input name="group1" type="radio" />
            <span>Vote NO</span>
          </label>
      </p>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right"></i>
  </button>
  </div>
</form>