

<div class="row">

	<div class="col s4 offset-s4 ">

	<div class="card center">
		<h4>Initiative 940 <i class="material-icons voted">check_circle</i> </h4>
	</div>
	<div class="card center">
		<h4>Initiative 1631 <i class="material-icons voted">check_circle</i></h4>
	</div>
	<div class="card center">
		<h4>Initiative 1634 <i class="material-icons voted">check_circle</i></h4>
	</div>
	<div class="card center">
		<h4>Initiative 1639</h4>
	</div>
	<div class="card center">
		<h4>Advisory Vote 19 <i class="material-icons voted">check_circle</i></h4>
	</div>
	<div class="col s1"></div>
	<button type="submit" class="submit-btn waves-effect waves-light btn-large red darken-4">Submit Ballot*</button>
	<p>By clicking this button and submitting this ballot, you are certifying that you are the lawful owner of this account and the votes herein are your own, recorded without duress. </p>

</div>
</div>