<div class="row">

	<div class="col s6 offset-s3">

		<div class="card center success-card">
			<h3>Success! Your ballot has been submitted.</h3> 
			<i class="material-icons final large">check_circle</i>
			<h4> Thank you for voting! </h4> 
		</div>
	
	</div>
</div>