<h1>Initiative 940: Police Training and Criminal Liability in Cases of Deadly Force</h1>

<h4>Initiative 940 would create a good faith test to determine when the use of deadly force by police is justifiable, require police to receive de-escalation and mental health training, and provide that police have a duty to render first aid. It would remove the requirement that prosecutors show that a law enforcement officer acted with malice to be convicted</h4>

<h4> <span id="pro">Yes</span> SUPPORTS the initiative to create a test to determine justifiable use of deadly force by police and require officers to undergo specific training.</h4>

<h4> <span id="pro">No</span> OPPOSES the initiative to create a test to determine justifiable use of deadly force by police and require officers to undergo specific training.</h4>