

#top-nav {
	background-color: #0f51bc;
}

#home-flag {
	width: 100vw;
	height: 100vh;
	background-image: url("america.jpg");
	overflow: hidden;
	color: white;
	text-align: center;
}

.quote-holder {
	margin: auto;
	width: 80vw;
	background-color: #0f51bc;
	margin-top: 50px;
	border-radius: 40px;
	padding: 30px;
}

.home-quote {
	color: white;
	font-family: 'Abril Fatface', cursive;
	font-size: 60px;
	text-shadow: 3px 3px #ff0000;
}

.front-btn {
	display: inline-block;
	margin: 10px;
}

.vote-logo {
	display: inline-block;
	padding-left: 30px;
	padding-top: 10px;
}

.small {
	color: gray;
	font-size: 10px;
	font-style: italic;
}

body {
	font-family: 'Raleway', sans-serif;
}

.side-title {
	display: inline-block;
	font-size: 20px;
	padding-top: 35px;
}

.nav-pill {
	width: 200px;
	height: 100px;
	background-color: #e8eef7;
	border: 1px solid #c9d4e5;
	text-align: center;
	margin-left: -10px;
}

.side {
	display: inline-block;
	font-size: 40px;
	padding-top: 15px;
}
.clicking {

}

.clicking:hover {
	width: 205px;
	height: 104px;
	border: 2px solid #c9d4e5;
}

.selected {
	background-color: #f4d1d0;
	border: 2px solid #d89b99;
}

#summary {
	text-align: center;
	margin: 0 auto;
}

.voted {
	color: blue;
}
.final {
	color: #165ecc;
	font-size: 60px;
}

.submit-btn {
	display: inline-block;
	padding-right: 100px;
	padding-left: 110px;
}

.submit-btn:hover {
	border: 2px solid #8e1b1b;
}

#pro {
	color: blue;
	font-size: 18px;
}

#con {
	color: red;
	font-size: 18px;
}

.success-card {
	margin-top: 30px;
	background-color: #ccdef9;
	padding: 30px;
	border: 1px solid #165ecc;
}

.input-field input[type=email]:focus {
	border-bottom: 3px solid #000;
	box-shadow: 0 1px 0 0 #000;
  }

#intro-image {
	width: 800px;
	height: auto;
}

.summary-cards {
	margin-top: 90px;
}

#b-sum {
	color: #bc1e1e;
}

#ballot-header {
	text-align: center;
}

[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:before,
 
[type="radio"].with-gap:checked + span:after {
 
  border: 2px solid #165ecc;
 
}

[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:after {
 
  background-color: #165ecc;
 
}
